body {
    font-family: 'Figtree';
    font-size: 16px;
    font-weight: 500;
}

body,.title {
    background: hsl(47, 88%, 63%);
}

body,.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    width: 90vw;
    margin-top: 5vh;
    top: 4em;
    right: 5px;
    position: relative;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.title-img {
    width: 90%;
}

header,main,footer {
    position: relative;
    left: 15px;
    top: 10px;
}

.card,.title-img {
    border-radius: 10px;
}

.data-title {
    font-size: 12px;
}

.subtitle {
    font-weight: 800;
}

.title {
    padding: 3px 15px 3px 6px;
    border-radius: 2px;
    font-weight: bold;
    width: 15vw;
}

.main-txt {
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    left: -5.5em;
    margin-bottom: 2em;
}

.user {
    width: 15%;
    margin-right: 15px;
}

@media (min-width: 1440px) {
    .card {
        width: 25%;
        top: 10em;
    }
    .title {
        width: 5vw;
        padding: 3px 2px 3px 10px;
    }
    .main-txt {
        width: 75%;
        font-size: 16px;
    }
}